<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>rider11</title>
</head>

<body>
    <table>
        <tr>
            <td>用户名：</td>
            <td th:text="${user.getUserName()}"></td>
        </tr>
        <tr>
            <td>生日：</td>
            <td th:text="${#dates.format(user.getBirth(),'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <td>身高：</td>
            <td th:text="${user.getHeight()}"></td>
        </tr>
        <tr>
            <td>照片：</td>
            <td th:each="p:${fileNameList}">
                <img th:src="${#servletContext.getContextPath()}+${filePath}+${p}" width='200px' height='200px' /><br>
            </td>
        </tr>
    </table>
</body>

</html>