<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入 jquery-->
    <script type="text/javaScript" src="../../js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>

<body>
    <form th:action="@{/file/student}" method="post" enctype="multipart/form-data">

        <table style="margin: auto">
            <tr>
                <td th:if="${not #strings.isEmpty(msg)}" colspan="2" align="center">
                    <p style="color: red;margin: auto" th:text="${msg}"></p>
                </td>
            </tr>
            <tr>
                <td>学号：</td>
                <td><input type="text" name="stuId" required><br></td>
            </tr>
            <tr>
                <td>学生姓名：</td>
                <td><input type="text" name="stuName" required><br></td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td><input type="number" name="age" required><br></td>
            </tr>

            <tr>
                <td>照片：</td>
                <td><input type="file" id="chooseImage" name="photos" multiple="multiple" required><br>
                    <span id="img-div"></span>
                </td>
            </tr>
            <input id="fileNameStr" type="hidden" name="fileNameStr" />
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="提交">
                    <input type="reset" value="重置">
                </td>
            </tr>
        </table>

        <!-- 保存用户自定义的背景图片 -->
        <img id="preview_photo" src="" width="200px" height="200px">
    </form>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/
    </script>
    <script type="text/javaScript">


    $('#chooseImage').on('change', function () {
        var filePath = $(this).val(),         //获取到input的value，里面是文件的路径
            fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();
        // 检查是否是图片
        if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
            alert('上传错误,文件格式必须为：png/jpg/jpeg');
            return;
        }
        //获取上传的文件
        var arr = document.getElementById('chooseImage').files;
        //遍历文件
        for (var i = 0; i < arr.length; i++) {
            //通过 FormData 将文件信息提交到后台
            var formData = new FormData();
            formData.append('photo', arr[i]);
            $.ajax({
                url: "/hellospringmvc/file/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.type == "success") {
                        //在图片显示区显示图片
                        var html = "<img id='" + data.filename + "' src='" + ctxPath + data.filepath + data.filename + "' width='200px' height='200px'>&nbsp;";
                        $("#img-div").append(html);

                        //将文件路径赋值给 fileNameStr
                        var path = $("#fileNameStr").val();

                        if (path == "") {
                            $("#fileNameStr").val(data.filename);
                        } else {
                            $("#fileNameStr").val(path + "," + data.filename);
                        }
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (data) {
                    alert("上传失败")
                }
            });
        }
    });
</script>

    <style>
        img[src=""],
        img:not([src]) {
            opacity: 0;
        }
    </style>
</body>

</html>